.bg1 {
    background-color: #222;
}

.bg2 {
    background-color: #444;
}

input, textarea {
    background-color: #444; 
}

.small {
    font-size: 9pt;
}

.tippy-content {
    font-size: 7pt;
}

.standout-ctrl {
    color: cornflowerblue;
}
