.bg-med {
    background-color: #222;
}

.bg-dark {
    background-color: #444;
}

input, textarea {
    background-color: #444; 
}

.small {
    font-size: 9pt;
}

.tippy-content {
    font-size: 7pt;
}

.std-ctrl {
    color: cornflowerblue;
}

.std-label {
    color: white;
}
