.q_bg {
    background-color: #222;
}

.q_txt {
    color: #CCC;
    font-size: 9pt;
}

.q_heading {
    color: #777;
    font-size: 10pt;
}

.q_input {
    color: #CCC;
    background-color: #222;
    font-size: 9pt;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
}

.q_input:focus {
    outline: none;
}

.q_code {
    font-family: "Courier New", monospace;
    color: #BBB;
    font-size: 10px;
}

.q_unicode_btn {
    color: #CCC;
    font-size: 10pt;
}
